$primaryColor: #2FA197;
$black: #181B26;
$middle-black: #1E2135;
$light-black: #353535;
$dark: #6C6C91;
$middle-dark: #8282a6;
$white: #fff;
$gray: #d0d0d0;
$middle-gray: #EBEBEB;
$light-gray: #F6F6F6;
$red: #FF4E53;
$green: #3db4ab;
$border-color: #C9CFDD;
